$background-color: #48CC5D;
$text-color-before: #f6f6f6;
$text-color-after: #685f5f;

.navbar {
    background-color: $background-color;
    font-size: 50px;
    text-align: center;

    &.hyperlinks {
        color: $text-color-before;
        &:hover {
            color: $text-color-after;
        }
    }

}